* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-size: 50px;
    
    background-color: mintcream;
  }
  #calculator {
    background-color: black;
    border: .5rem solid darkslategrey;
    margin:auto;
    display: grid;
    grid-template-areas: 
    "result result     result  result"
    "ac     plus-minus percent division"
    "seven  eight      nine    multiply"
    "four   five       six     minus"
    "one    two        three   plus"
    "zero   zero       point   equals";
    grid-gap: 5px;
    width: 600px;
    margin-top: 100px;
    grid-template-columns: repeat(4, 1fr);
  }
  
  div {
    padding:10px
  }
  
  .gray-bg {
    background-color: gray;
  }
  
  .blue-bg {
    background-color: aqua;
  }
  
  .orange-bg {
    background-color: orange;
  }
  
  .orange-bg:active {
    box-shadow: 0 0 10px rgb(109, 71, 0);
}

  .teal-bg {
    background-color: teal;
  }
  
  .result {
    grid-area: result;
    text-align: right;
  }
  .ac {
    grid-area: ac;
    text-align: center;
  
  }
  .plus-minus {
    grid-area: plus-minus;
    text-align: center;
  
  }
  .percent {
    grid-area: percent;
    text-align: center;
  
  }
  .division {
    grid-area: division;
    text-align: center;
  
  }
  .seven {
    grid-area: seven;
    text-align: center;
  
  }
  .eight {
    grid-area: eight;
    text-align: center;
  
  }
  .nine {
    grid-area: nine;
    text-align: center;
  
  }
  .multiply {
    grid-area: multiply;
    text-align: center;
  
  }
  
  .four {
    grid-area: four;
    text-align: center;
  
  }
  
  .five {
    grid-area: five;
    text-align: center;
  
  }

  .six {
    grid-area: six;
    text-align: center;
  
  }
  
  .minus {
    grid-area: minus;
    text-align: center;
  
  }

  .one {
    grid-area: one;
    text-align: center;
  
  }

  .two {
    grid-area: two;
    text-align: center;
  
  }

  .three {
    grid-area: three;
    text-align: center;
  
  }

  .plus {
    grid-area: plus;
    text-align: center;
  
  }

  .zero {
    grid-area: zero;
    text-align: center;
  
  }

  .point {
    grid-area: point;
    text-align: center;
  
  }

  .equals {
    grid-area: equals;
    text-align: center;
  
  }

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
}
