* {
    outline: 1px solid red;
  }
  #div1 {
    background-color: antiquewhite;
  
    width: 300px;
    height: 500px;
  
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 100px;
  
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
  }
  
  #div2 {
    background-color: aqua;
    
    width: auto;
    height: auto;
  
    padding-left: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 50px;
  
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 100px;
  }
  
  #div3 {
    background-color: blueviolet;
    
    width: 300px;
    height: 500px;
  
    padding-left: 200px;
    padding-top: auto;
    padding-bottom: auto;
    padding-right: 200px;
  
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 100px;
  }
  #div4 {
    background-color: chartreuse;
    
    width: 300px;
    height: 500px;
  
    padding-left: 200px;
    padding-top: auto;
    padding-bottom: auto;
    padding-right: 200px;
  
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 100px;
  }
  #div5 {
    background-color: crimson;
    
    width: 300px;
    height: 500px;
  
    padding-left: 200px;
    padding-top: auto;
    padding-bottom: auto;
    padding-right: 200px;
  
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 100px;
  }
  #div6 {
    background-color: darkslategray;
    
    width: 300px;
    height: 500px;
  
    padding-left: 200px;
    padding-top: auto;
    padding-bottom: auto;
    padding-right: 200px;
  
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 100px;
  }
  #div7 {
    background-color: hotpink;
    
    width: 300px;
    height: 500px;
  
    padding-left: 200px;
    padding-top: auto;
    padding-bottom: auto;
    padding-right: 200px;
  
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 100px;
  }
  #div8 {
    background-color: indigo;
    
    width: 300px;
    height: 500px;
  
    padding-left: 200px;
    padding-top: auto;
    padding-bottom: auto;
    padding-right: 200px;
  
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 100px;
  }